

*{
  margin: 0;
  padding: 0;
}





.header{
  padding: 20px;
  width: 100%;
  text-align: center;
  outline: 2px solid #FFFFFF;
  font-family: 'Font 1';  font-weight: 100;
  font-size: 50px;
  color: #FFFFFF;
  text-shadow: 0 0 10px #000000, 0 0 5px #000000;
}



body{
  background: url(img/Background.jpg) center center;
  background-repeat: no repeat;
  background-size: cover;
  background-attachment: fixed;
  font-family: 'Font 2';
}


.main{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 100%;
  height: 100vh;
  line-height: 3;
  padding: 20px;
  margin: 10px;
  font-size: 50px;
  font-weight: 100;
  color: #FFFFFF;
  text-shadow: 0 0 10px #000000;
}


.main__a{
  line-height: 2;
  padding: 10px;
  background-color: #000000AF;
  color: #FFFFFF;
  text-decoration: none;
  transition: all .8s;
}
.main__a:hover{
  color: #ffd900;
  text-shadow: 0 0 5px #FFFFFF;
}




.footer{
  background-color: #000000DF;line-height: 3;
  padding: 20px;
  font-family: monospace;
  font-size: 16px;
  color: #FFFFFF;
  text-align: center;
}
